In [1]:
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)
pd.set_option('display.expand_frame_repr',False)
pd.set_option('max_colwidth',-1)
df = pd.read_csv('IPL_ball_by_ball_updated.csv')

In [2]:
df.head()

   match_id   season start_date                  venue  innings  ball           batting_team                 bowling_team      striker  non_striker   bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed
0  335982    2007/08  4/18/2008  M Chinnaswamy Stadium  1        0.1   Kolkata Knight Riders  Royal Challengers Bangalore  SC Ganguly   BB McCullum  P Kumar  0             1      NaN    NaN      NaN    1.0     NaN       NaN         NaN             NaN                NaN
1  335982    2007/08  4/18/2008  M Chinnaswamy Stadium  1        0.2   Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum  SC Ganguly   P Kumar  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
2  335982    2007/08  4/18/2008  M Chinnaswamy Stadium  1        0.3   Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum  SC Ganguly   P Kumar  0             1       1.0   NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
3  335982    2007/08  4/18/2008  M Chinnaswamy Stadium  1        0.4   Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum  SC Ganguly   P Kumar  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
4  335982    2007/08  4/18/2008  M Chinnaswamy Stadium  1        0.5   Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum  SC Ganguly   P Kumar  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN

df.head()

In [3]:
df['striker'].unique()

array(['SC Ganguly', 'BB McCullum', 'RT Ponting', 'DJ Hussey',
       'Mohammad Hafeez', 'R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis',
       'CL White', 'MV Boucher', 'B Akhil', 'AA Noffke', 'P Kumar',
       'Z Khan', 'SB Joshi', 'PA Patel', 'ML Hayden', 'MEK Hussey',
       'MS Dhoni', 'SK Raina', 'JDP Oram', 'S Badrinath', 'K Goel',
       'JR Hopes', 'KC Sangakkara', 'Yuvraj Singh', 'SM Katich',
       'IK Pathan', 'T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif',
       'DS Lehmann', 'RA Jadeja', 'M Rawat', 'D Salunkhe', 'SK Warne',
       'SK Trivedi', 'G Gambhir', 'V Sehwag', 'S Dhawan', 'AC Gilchrist',
       'Y Venugopal Rao', 'VVS Laxman', 'A Symonds', 'RG Sharma',
       'SB Styris', 'AS Yadav', 'SB Bangar', 'WPUJC Vaas', 'RP Singh',
       'WP Saha', 'LR Shukla', 'L Ronchi', 'ST Jayasuriya', 'DJ Thornely',
       'RV Uthappa', 'PR Shah', 'AM Nayar', 'SM Pollock',
       'Harbhajan Singh', 'S Chanderpaul', 'LRPL Taylor',
       'DPMD Jayawardene', 'S Sohal', 'B Lee', 'PP Chawla', 'WA Mota',
       'Kamran Akmal', 'Shahid Afridi', 'DJ Bravo', 'MA Khote', 'A Nehra',
       'GC Smith', 'Pankaj Singh', 'RR Sarwan', 'S Sreesanth',
       'VRV Singh', 'SS Tiwary', 'DS Kulkarni', 'AB Agarkar', 'M Kartik',
       'I Sharma', 'R Vinay Kumar', 'AM Rahane', 'Shoaib Malik',
       'MK Tiwary', 'KD Karthik', 'R Bhatia', 'MF Maharoof', 'VY Mahesh',
       'TM Srivastava', 'B Chipli', 'DW Steyn', 'DB Das', 'MK Pandey',
       'SA Asnodkar', 'Sohail Tanvir', 'Salman Butt', 'BJ Hodge',
       'Umar Gul', 'AB Dinda', 'HH Gibbs', 'DNT Zoysa', 'D Kalyankrishna',
       'SE Marsh', 'SP Fleming', 'S Vidyut', 'JA Morkel',
       'AB de Villiers', 'Misbah-ul-Haq', 'Joginder Sharma', 'MS Gony',
       'M Muralitharan', 'M Ntini', 'YV Takawale', 'RR Raje',
       'PJ Sangwan', 'Mohammad Asif', 'GD McGrath', 'DT Patil',
       'A Kumble', 'S Anirudha', 'MM Patel', 'CK Kapugedera', 'A Chopra',
       'T Taibu', 'J Arunkumar', 'DB Ravi Teja', 'PP Ojha', 'U Kaul',
       'TM Dilshan', 'A Mishra', 'AD Mascarenhas', 'Niraj Patel',
       'LA Pomersbach', 'Iqbal Abdulla', 'SR Tendulkar',
       'PM Sarvesh Kumar', 'DP Vijaykumar', 'Shoaib Akhtar',
       'Abdur Razzak', 'LPC Silva', 'H Das', 'SP Goswami', 'DR Smith',
       'SD Chitnis', 'CRD Fernando', 'VS Yeligati', 'L Balaji',
       'A Mukund', 'Younis Khan', 'RR Powar', 'JD Ryder', 'KP Pietersen',
       'T Henderson', 'Kamran Khan', 'JP Duminy', 'A Flintoff',
       'T Thushara', 'RS Bopara', 'CH Gayle', 'MC Henriques', 'R Bishnoi',
       'FH Edwards', 'KV Sharma', 'PC Valthaty', 'RJ Quiney', 'AS Raut',
       'Yashpal Singh', 'M Manhas', 'AA Bilakhia', 'AN Ghosh',
       'BAW Mendis', 'DL Vettori', 'MN van Wyk', 'RE van der Merwe',
       'TL Suman', 'Shoaib Ahmed', 'GR Napier', 'KP Appanna', 'M Vijay',
       'SB Jakati', 'DA Warner', 'LA Carseldine', 'NV Ojha', 'SM Harwood',
       'RJ Harris', 'D du Preez', 'M Morkel', 'AD Mathews', 'J Botha',
       'C Nanda', 'SL Malinga', 'Mashrafe Mortaza', 'A Singh',
       'GJ Bailey', 'AB McDonald', 'Y Nagar', 'SS Shaikh', 'R Ashwin',
       'Mohammad Ashraful', 'CA Pujara', 'OA Shah', 'Anirudh Singh',
       'Jaskaran Singh', 'MS Bisla', 'YA Abdulla', 'AP Tare', 'AT Rayudu',
       'R Sathish', 'R McLaren', 'AA Jhunjhunwala', 'P Dogra', 'A Uniyal',
       'JM Kemp', 'S Tyagi', 'EJG Morgan', 'RS Gavaskar', 'SE Bond',
       'KA Pollard', 'S Ladda', 'DP Nannes', 'MJ Lumb', 'DR Martyn',
       'S Narwal', 'AB Barath', 'Bipul Sharma', 'FY Fazal', 'AC Voges',
       'MD Mishra', 'UT Yadav', 'J Theron', 'SJ Srivastava', 'KM Jadhav',
       'R Sharma', 'Mandeep Singh', 'SW Tait', 'KB Arun Karthik',
       'KAJ Roach', 'PD Collingwood', 'CK Langeveldt', 'VS Malik',
       'A Mithun', 'AP Dole', 'AN Ahmed', 'RS Sodhi', 'S Sriram',
       'DE Bollinger', 'B Sumanth', 'C Madan', 'AG Paunikar', 'MR Marsh',
       'AJ Finch', 'STR Binny', 'Harmeet Singh', 'IR Jaggi',
       'DT Christian', 'RV Gomez', 'MA Agarwal', 'AUK Pathan',
       'Sunny Singh', 'NJ Rimmington', 'UBT Chand', 'DJ Jacobs',
       'AL Menaria', 'WD Parnell', 'JJ van der Wath', 'R Ninan',
       'S Aravind', 'MS Wade', 'TD Paine', 'SB Wagh', 'AC Thomas',
       'JEC Franklin', 'Shakib Al Hasan', 'DH Yagnik', 'BJ Haddin',
       'S Randiv', 'NLTC Perera', 'NL McCullum', 'JE Taylor',
       'J Syed Mohammad', 'RN ten Doeschate', 'TR Birt', 'Harpreet Singh',
       'AG Murtaza', 'M Klinger', 'AC Blizzard', 'I Malhotra', 'L Ablish',
       'CA Ingram', 'S Nadeem', 'CJ Ferguson', 'P Parameswaran',
       'VR Aaron', 'AA Chavan', 'ND Doshi', 'B Kumar', 'Y Gnaneswara Rao',
       'S Rana', 'BA Bhatt', 'F du Plessis', 'RE Levi', 'GJ Maxwell',
       'SPD Smith', 'MN Samuels', 'SA Yadav', 'KK Cooper', 'JP Faulkner',
       'DJ Harris', 'Ankit Sharma', 'HV Patel', 'DAJ Bracewell',
       'SP Narine', 'GB Hogg', 'RR Bhatkal', 'CJ McKay', 'N Saini',
       'DA Miller', 'Azhar Mahmood', 'P Negi', 'RJ Peterson',
       'KMDN Kulasekara', 'A Ashish Reddy', 'V Pratap Singh',
       'BB Samantray', 'MJ Clarke', 'Gurkeerat Singh', 'PA Reddy',
       'AP Majumdar', 'K Upadhyay', 'P Awana', 'AD Russell', 'A Chandila',
       'CA Lynn', 'Sunny Gupta', 'MC Juneja', 'KK Nair', 'GH Vihari',
       'MDKJ Perera', 'R Shukla', 'B Laughlin', 'AS Rajpoot',
       'JD Unadkat', 'M Vohra', 'Mohammed Shami', 'BMAJ Mendis',
       'R Rampaul', 'CH Morris', 'SV Samson', 'SMSM Senanayake',
       'BJ Rohrer', 'KL Rahul', 'Q de Kock', 'R Dhawan', 'MG Johnson',
       'LJ Wright', 'IC Pandey', 'X Thalaivan Sargunam', 'DJG Sammy',
       'KW Richardson', 'MM Sharma', 'CM Gautam', 'UA Birla',
       'Parvez Rasool', 'Sandeep Sharma', 'S Kaul', 'Sachin Baby',
       'PV Tambe', 'NM Coulter-Nile', 'CJ Anderson', 'NJ Maddinson',
       'AR Patel', 'JDS Neesham', 'JJ Bumrah', 'TG Southee', 'MA Starc',
       'BR Dunk', 'RR Rossouw', 'Shivam Sharma', 'YS Chahal',
       'LMP Simmons', 'VH Zol', 'BCJ Cutting', 'Imran Tahir',
       'BE Hendricks', 'S Gopal', 'M de Lange', 'R Tewatia', 'JO Holder',
       'Karanveer Singh', 'Anureet Singh', 'HH Pandya', 'D Wiese',
       'SS Iyer', 'DJ Hooda', 'SN Khan', 'MJ McClenaghan', 'SA Abbott',
       'KS Williamson', 'J Suchith', 'DJ Muthuswami', 'PJ Cummins',
       'RG More', 'SN Thakur', 'JC Buttler', 'CR Brathwaite',
       'MP Stoinis', 'Ishan Kishan', 'C Munro', 'P Sahu', 'KH Pandya',
       'AD Nath', 'MJ Guptill', 'KJ Abbott', 'TM Head', 'M Ashwin',
       'NS Naik', 'RR Pant', 'SW Billings', 'KC Cariappa',
       'PSP Handscomb', 'Swapnil Singh', 'J Yadav', 'UT Khawaja',
       'HM Amla', 'F Behardien', 'BB Sran', 'A Zampa', 'N Rana',
       'S Kaushik', 'ER Dwivedi', 'CJ Jordan', 'TS Mills', 'A Choudhary',
       'BA Stokes', 'JJ Roy', 'Vishnu Vinod', 'Basil Thampi', 'CR Woakes',
       'RA Tripathi', 'DL Chahar', 'V Shankar', 'Rashid Khan',
       'RD Chahar', 'LH Ferguson', 'C de Grandhomme', 'AF Milne',
       'S Badree', 'Mohammad Nabi', 'AJ Tye', 'K Rabada', 'Kuldeep Yadav',
       'Washington Sundar', 'DM Bravo', 'AR Bawne', 'SP Jackson',
       'Ankit Soni', 'TA Boult', 'MM Ali', 'SO Hetmyer', 'S Dube',
       'NA Saini', 'Mohammed Siraj', 'JM Bairstow', 'Shubman Gill',
       'PP Shaw', 'KMA Paul', 'Rasikh Salam', 'N Pooran', 'K Gowtham',
       'JC Archer', 'M Markande', 'P Ray Barman', 'SM Curran',
       'GC Viljoen', 'Avesh Khan', 'S Lamichhane', 'M Prasidh Krishna',
       'HF Gurney', 'SD Lad', 'AS Joseph', 'R Parag', 'MJ Santner',
       'JL Denly', 'LS Livingstone', 'RK Bhui', 'Abhishek Sharma',
       'KK Ahmed', 'Mujeeb Ur Rahman', 'AJ Turner', 'E Lewis', 'MA Wood',
       'RK Singh', 'DJM Short', 'TK Curran', 'B Stanlake', 'A Dananjaya',
       'Shivam Mavi', 'H Klaasen', 'LE Plunkett', 'Mustafizur Rahman',
       'AD Hales', 'MK Lomror', 'DR Shorey', 'P Chopra',
       'JPR Scantlebury-Searles', 'IS Sodhi', 'Harpreet Brar',
       'SE Rutherford', 'Y Prithvi Raj', 'P Simran Singh', 'JL Pattinson',
       'A Nortje', 'D Padikkal', 'JR Philippe', 'PK Garg', 'T Natarajan',
       'YBK Jaiswal', 'RD Gaikwad', 'KL Nagarkoti', 'Abdul Samad',
       'Ravi Bishnoi', 'I Udana', 'CV Varun', 'SS Cottrell',
       'Arshdeep Singh', 'Kartik Tyagi', 'N Jagadeesan', 'AT Carey',
       'T Banton', 'TU Deshpande', 'Shahbaz Ahmed', 'P Dubey', 'DR Sams',
       'M Jansen', 'RM Patidar', 'KA Jamieson', 'M Shahrukh Khan',
       'JA Richardson', 'Lalit Yadav', 'Virat Singh', 'FA Allen',
       'C Sakariya', 'DJ Malan', 'Anmolpreet Singh', 'KS Bharat',
       'PWH de Silva', 'VR Iyer', 'AK Markram', 'TH David', 'T Shamsi',
       'NT Ellis', 'TL Seifert', 'GD Phillips', 'GHS Garton', 'RV Patel',
       'K Yadav', 'Anuj Rawat', 'DP Conway', 'Tilak Varma', 'R Powell',
       'PBB Rajapaksa', 'RA Bawa', 'OF Smith', 'A Badoni', 'PVD Chameera',
       'A Manohar', 'R Shepherd', 'DJ Willey', 'D Pretorius', 'JM Sharma',
       'VG Arora', 'Mukesh Choudhary', 'Umran Malik', 'D Brevis',
       'B Sai Sudharsan', 'Ramandeep Singh', 'HE van der Dussen',
       'SS Prabhudessai', 'Akash Deep', 'JR Hazlewood', 'KR Sen',
       'Aman Hakim Khan', 'HR Shokeen', 'Yash Dayal', 'DJ Mitchell',
       'Shashank Singh', 'B Indrajith', 'Harshit Rana', 'Mohsin Khan (2)',
       'Simarjeet Singh', 'M Theekshana', 'AS Roy', 'Fazalhaq Farooqi',
       'K Kartikeya', 'RP Meredith', 'KS Sharma', 'T Stubbs',
       'R Sanjay Yadav', 'A Tomar', 'PN Mankad', 'OC McCoy'], dtype=object)

In [4]:
df.dtypes

match_id                  int64
season                    object
start_date                object
venue                     object
innings                   int64
ball                      float64
batting_team              object
bowling_team              object
striker                   object
non_striker               object
bowler                    object
runs_off_bat              int64
extras                    int64
wides                     float64
noballs                   float64
byes                      float64
legbyes                   float64
penalty                   float64
wicket_type               object
player_dismissed          object
other_wicket_type         float64
other_player_dismissed    float64
dtype: object

In [5]:
df['start_date'] = pd.to_datetime(df['start_date'])

In [6]:
df.dtypes

match_id                  int64
season                    object
start_date                datetime64[ns]
venue                     object
innings                   int64
ball                      float64
batting_team              object
bowling_team              object
striker                   object
non_striker               object
bowler                    object
runs_off_bat              int64
extras                    int64
wides                     float64
noballs                   float64
byes                      float64
legbyes                   float64
penalty                   float64
wicket_type               object
player_dismissed          object
other_wicket_type         float64
other_player_dismissed    float64
dtype: object

In [7]:
df['year'] = df['start_date'].dt.year

In [8]:
df.head()

   match_id   season start_date                  venue  innings  ball           batting_team                 bowling_team      striker  non_striker   bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed  year
0  335982    2007/08 2008-04-18  M Chinnaswamy Stadium  1        0.1   Kolkata Knight Riders  Royal Challengers Bangalore  SC Ganguly   BB McCullum  P Kumar  0             1      NaN    NaN      NaN    1.0     NaN       NaN         NaN             NaN                NaN                      2008
1  335982    2007/08 2008-04-18  M Chinnaswamy Stadium  1        0.2   Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum  SC Ganguly   P Kumar  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      2008
2  335982    2007/08 2008-04-18  M Chinnaswamy Stadium  1        0.3   Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum  SC Ganguly   P Kumar  0             1       1.0   NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      2008
3  335982    2007/08 2008-04-18  M Chinnaswamy Stadium  1        0.4   Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum  SC Ganguly   P Kumar  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      2008
4  335982    2007/08 2008-04-18  M Chinnaswamy Stadium  1        0.5   Kolkata Knight Riders  Royal Challengers Bangalore  BB McCullum  SC Ganguly   P Kumar  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      2008

In [9]:
df.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed', 'year'],
      dtype='object')

In [10]:
df['year'].unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2019,
       2018, 2020, 2021, 2022], dtype=int64)

In [11]:
dhoni_df = df[df['striker'] == 'MS Dhoni']

In [12]:
dhoni_df.shape

(3802, 23)

##### Dhoni Analysis

In [13]:
###Run Scored
###Strike Rate
###Fours
###Sixes
###Dots

In [14]:
w1 = df.groupby(['year','striker'])['runs_off_bat'].sum().reset_index()

In [15]:
w1 = w1[w1['runs_off_bat'] > 600 ]

In [16]:
w1

      year         striker  runs_off_bat
115   2008  SE Marsh        616
446   2010  SR Tendulkar    618
502   2011  CH Gayle        608
684   2012  CH Gayle        733
852   2013  CH Gayle        720
910   2013  MEK Hussey      733
983   2013  V Kohli         639
1088  2014  RV Uthappa      660
1256  2016  AB de Villiers  687
1278  2016  DA Warner       848
1383  2016  V Kohli         973
1422  2017  DA Warner       641
1542  2018  AT Rayudu       602
1592  2018  KL Rahul        659
1594  2018  KS Williamson   735
1636  2018  RR Pant         684
1694  2019  DA Warner       692
1866  2020  KL Rahul        676
1912  2020  S Dhawan        618
1979  2021  F du Plessis    633
2007  2021  KL Rahul        626
2051  2021  RD Gaikwad      635
2144  2022  JC Buttler      863
2160  2022  KL Rahul        616

In [17]:
w2 = w1.groupby('striker')['runs_off_bat'].count().sort_values(ascending=False).reset_index()

In [18]:
w2

           striker  runs_off_bat
0   KL Rahul        4
1   CH Gayle        3
2   DA Warner       3
3   V Kohli         2
4   AB de Villiers  1
5   AT Rayudu       1
6   F du Plessis    1
7   JC Buttler      1
8   KS Williamson   1
9   MEK Hussey      1
10  RD Gaikwad      1
11  RR Pant         1
12  RV Uthappa      1
13  S Dhawan        1
14  SE Marsh        1
15  SR Tendulkar    1

In [19]:
dhoni_df.head()

      match_id   season start_date                                       venue  innings  ball         batting_team     bowling_team   striker non_striker     bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed  year
265   335983    2007/08 2008-04-19  Punjab Cricket Association Stadium, Mohali  1        6.3   Chennai Super Kings  Kings XI Punjab  MS Dhoni  MEK Hussey  IK Pathan  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      2008
268   335983    2007/08 2008-04-19  Punjab Cricket Association Stadium, Mohali  1        6.6   Chennai Super Kings  Kings XI Punjab  MS Dhoni  MEK Hussey  IK Pathan  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      2008
269   335983    2007/08 2008-04-19  Punjab Cricket Association Stadium, Mohali  1        7.1   Chennai Super Kings  Kings XI Punjab  MS Dhoni  MEK Hussey  JR Hopes   0             0      NaN    NaN      NaN   NaN      NaN       lbw         MS Dhoni        NaN                NaN                      2008
1719  335989    2007/08 2008-04-23  MA Chidambaram Stadium, Chepauk             1        15.1  Chennai Super Kings  Mumbai Indians   MS Dhoni  ML Hayden   DJ Bravo   0             1       1.0   NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      2008
1720  335989    2007/08 2008-04-23  MA Chidambaram Stadium, Chepauk             1        15.2  Chennai Super Kings  Mumbai Indians   MS Dhoni  ML Hayden   DJ Bravo   4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      2008

In [20]:
d1 = dhoni_df.groupby('year')['runs_off_bat'].sum().reset_index()

In [21]:
d1

    year  runs_off_bat
0   2008  414
1   2009  332
2   2010  287
3   2011  392
4   2012  358
5   2013  461
6   2014  371
7   2015  372
8   2016  284
9   2017  290
10  2018  455
11  2019  416
12  2020  200
13  2021  114
14  2022  232

In [22]:
d2 = dhoni_df.groupby('year')['ball'].count().reset_index()

In [23]:
d2

    year  ball
0   2008  319
1   2009  270
2   2010  215
3   2011  247
4   2012  283
5   2013  298
6   2014  258
7   2015  309
8   2016  220
9   2017  261
10  2018  321
11  2019  317
12  2020  175
13  2021  111
14  2022  198

In [24]:
dhoni_four = dhoni_df[dhoni_df['runs_off_bat']==4]

In [25]:
dhoni_four.head()

      match_id   season start_date                            venue  innings  ball         batting_team           bowling_team   striker non_striker       bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed  year
1720  335989    2007/08 2008-04-23  MA Chidambaram Stadium, Chepauk  1        15.2  Chennai Super Kings  Mumbai Indians         MS Dhoni  ML Hayden   DJ Bravo     4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      2008
1722  335989    2007/08 2008-04-23  MA Chidambaram Stadium, Chepauk  1        15.4  Chennai Super Kings  Mumbai Indians         MS Dhoni  ML Hayden   DJ Bravo     4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      2008
1732  335989    2007/08 2008-04-23  MA Chidambaram Stadium, Chepauk  1        17.1  Chennai Super Kings  Mumbai Indians         MS Dhoni  ML Hayden   DS Kulkarni  4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      2008
1742  335989    2007/08 2008-04-23  MA Chidambaram Stadium, Chepauk  1        18.5  Chennai Super Kings  Mumbai Indians         MS Dhoni  ML Hayden   A Nehra      4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      2008
2576  335993    2007/08 2008-04-26  MA Chidambaram Stadium, Chepauk  2        11.4  Chennai Super Kings  Kolkata Knight Riders  MS Dhoni  ML Hayden   M Kartik     4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN                      2008

In [26]:
d3 = dhoni_four.groupby('year')['runs_off_bat'].count().reset_index()

In [27]:
d3

    year  runs_off_bat
0   2008  38
1   2009  22
2   2010  26
3   2011  25
4   2012  26
5   2013  32
6   2014  22
7   2015  27
8   2016  18
9   2017  15
10  2018  24
11  2019  22
12  2020  16
13  2021  12
14  2022  21

In [28]:
dhoni_six = dhoni_df[dhoni_df['runs_off_bat']==6]

In [29]:
d4 = dhoni_six.groupby('year')['runs_off_bat'].count().reset_index()

In [30]:
d4

    year  runs_off_bat
0   2008  15
1   2009  9
2   2010  8
3   2011  23
4   2012  9
5   2013  25
6   2014  20
7   2015  17
8   2016  14
9   2017  16
10  2018  30
11  2019  23
12  2020  7
13  2021  3
14  2022  10

In [31]:
dhoni_dot = dhoni_df[dhoni_df['runs_off_bat']==0]

In [32]:
d5 = dhoni_dot.groupby('year')['runs_off_bat'].count().reset_index()

In [33]:
d5

    year  runs_off_bat
0   2008  124
1   2009  75
2   2010  66
3   2011  69
4   2012  87
5   2013  94
6   2014  85
7   2015  127
8   2016  82
9   2017  116
10  2018  110
11  2019  117
12  2020  73
13  2021  53
14  2022  92

In [34]:
d3 = d3.rename(columns = {'runs_off_bat' : 'four'})

In [35]:
d3

    year  four
0   2008  38
1   2009  22
2   2010  26
3   2011  25
4   2012  26
5   2013  32
6   2014  22
7   2015  27
8   2016  18
9   2017  15
10  2018  24
11  2019  22
12  2020  16
13  2021  12
14  2022  21

In [36]:
d4 = d4.rename(columns = {'runs_off_bat' : 'six'})

In [37]:
d5 = d5.rename(columns = {'runs_off_bat' : 'dot'})

In [38]:
d6 = d1.merge(d2,on='year',how='right').merge(d3,on='year',how='right').merge(d4,on='year',how='right').merge(d5,on='year',how='right')

In [39]:
d6

    year  runs_off_bat  ball  four  six  dot
0   2008  414           319   38    15   124
1   2009  332           270   22    9    75
2   2010  287           215   26    8    66
3   2011  392           247   25    23   69
4   2012  358           283   26    9    87
5   2013  461           298   32    25   94
6   2014  371           258   22    20   85
7   2015  372           309   27    17   127
8   2016  284           220   18    14   82
9   2017  290           261   15    16   116
10  2018  455           321   24    30   110
11  2019  416           317   22    23   117
12  2020  200           175   16    7    73
13  2021  114           111   12    3    53
14  2022  232           198   21    10   92

In [40]:
d6['strike_rate'] = d6['runs_off_bat'] / d6['ball'] * 100

In [41]:
d6

    year  runs_off_bat  ball  four  six  dot  strike_rate
0   2008  414           319   38    15   124  129.780564
1   2009  332           270   22    9    75   122.962963
2   2010  287           215   26    8    66   133.488372
3   2011  392           247   25    23   69   158.704453
4   2012  358           283   26    9    87   126.501767
5   2013  461           298   32    25   94   154.697987
6   2014  371           258   22    20   85   143.798450
7   2015  372           309   27    17   127  120.388350
8   2016  284           220   18    14   82   129.090909
9   2017  290           261   15    16   116  111.111111
10  2018  455           321   24    30   110  141.744548
11  2019  416           317   22    23   117  131.230284
12  2020  200           175   16    7    73   114.285714
13  2021  114           111   12    3    53   102.702703
14  2022  232           198   21    10   92   117.171717

In [42]:
d6['total_boundaries'] = d6['four'] + d6['six']

In [43]:
d6

    year  runs_off_bat  ball  four  six  dot  strike_rate  total_boundaries
0   2008  414           319   38    15   124  129.780564   53
1   2009  332           270   22    9    75   122.962963   31
2   2010  287           215   26    8    66   133.488372   34
3   2011  392           247   25    23   69   158.704453   48
4   2012  358           283   26    9    87   126.501767   35
5   2013  461           298   32    25   94   154.697987   57
6   2014  371           258   22    20   85   143.798450   42
7   2015  372           309   27    17   127  120.388350   44
8   2016  284           220   18    14   82   129.090909   32
9   2017  290           261   15    16   116  111.111111   31
10  2018  455           321   24    30   110  141.744548   54
11  2019  416           317   22    23   117  131.230284   45
12  2020  200           175   16    7    73   114.285714   23
13  2021  114           111   12    3    53   102.702703   15
14  2022  232           198   21    10   92   117.171717   31

In [44]:
d6['dot_ball_percent'] = d6['dot'] / d6['ball'] * 100

In [45]:
d6['dot_ball_percent'] = d6['dot_ball_percent'].apply(np.ceil)

In [46]:
d6['dot_ball_percent'] = np.round(d6['dot_ball_percent'],decimals = 0)

In [47]:
d6['dot_ball_percent'] = d6['dot_ball_percent'].astype('int')

In [48]:
d6['strike_rate'] = np.round(d6['strike_rate'],decimals = 2 )

In [49]:
d6

    year  runs_off_bat  ball  four  six  dot  strike_rate  total_boundaries  dot_ball_percent
0   2008  414           319   38    15   124  129.78       53                39
1   2009  332           270   22    9    75   122.96       31                28
2   2010  287           215   26    8    66   133.49       34                31
3   2011  392           247   25    23   69   158.70       48                28
4   2012  358           283   26    9    87   126.50       35                31
5   2013  461           298   32    25   94   154.70       57                32
6   2014  371           258   22    20   85   143.80       42                33
7   2015  372           309   27    17   127  120.39       44                42
8   2016  284           220   18    14   82   129.09       32                38
9   2017  290           261   15    16   116  111.11       31                45
10  2018  455           321   24    30   110  141.74       54                35
11  2019  416           317   22    23   117  131.23       45                37
12  2020  200           175   16    7    73   114.29       23                42
13  2021  114           111   12    3    53   102.70       15                48
14  2022  232           198   21    10   92   117.17       31                47

###### Dhoni Overall Stats:

In [50]:
print("Runs:",dhoni_df['runs_off_bat'].sum() )

Runs: 4978

In [51]:
print("Balls Faced:",dhoni_df['ball'].count() )

Balls Faced: 3802

In [52]:
import math

In [53]:
s = (dhoni_df['runs_off_bat'].sum() /dhoni_df['ball'].count( )) * 100

In [54]:
print("Strike_rate:", end=" ")
print(round(s,2))

Strike_rate: 130.93

In [55]:
print("Sixes:",dhoni_six['ball'].count())

Sixes: 229

In [56]:
print("Fours:",dhoni_four['ball'].count())

Fours: 346

In [57]:
dhoni_df = df[df['striker']=='MS Dhoni']

In [58]:
t = dhoni_df.groupby('match_id')['runs_off_bat'].sum().reset_index()

In [59]:
t1 = t[t['runs_off_bat'] > 29 ]

In [60]:
print('No_of_30s:',t1['runs_off_bat'].count() )

No_of_30s: 64

### Overall Stats

In [61]:
o = df.groupby('striker')['runs_off_bat'].sum().sort_values(ascending=False).reset_index()

In [62]:
o = o.rename(columns={'runs_off_bat':'Runs_Scored'})

In [63]:
o.head()

     striker  Runs_Scored
0  V Kohli    6634
1  S Dhawan   6244
2  DA Warner  5883
3  RG Sharma  5881
4  SK Raina   5536

In [64]:
o1 = df.groupby('striker')['ball'].count().sort_values(ascending=False).reset_index()

In [65]:
o1.head()

     striker  ball
0  V Kohli    5266
1  S Dhawan   5083
2  RG Sharma  4632
3  DA Warner  4313
4  SK Raina   4177

In [66]:
o_six = df[df['runs_off_bat'] == 6 ]

In [67]:
o2 = o_six.groupby('striker')['runs_off_bat'].count().sort_values(ascending=False).reset_index()

In [68]:
o2 = o2.rename(columns={'runs_off_bat':'Sixes'})

In [69]:
o2.head()

          striker  Sixes
0  CH Gayle        359
1  AB de Villiers  253
2  RG Sharma       241
3  MS Dhoni        229
4  KA Pollard      224

In [70]:
o_four = df[df['runs_off_bat'] == 4 ]

In [71]:
o3 = o_four.groupby('striker')['runs_off_bat'].count().sort_values(ascending=False).reset_index()

In [72]:
o3 = o3.rename(columns={'runs_off_bat':'Fours'})

In [73]:
o3.head(15)

           striker  Fours
0   S Dhawan        701
1   V Kohli         581
2   DA Warner       577
3   RG Sharma       519
4   SK Raina        506
5   G Gambhir       492
6   RV Uthappa      481
7   AM Rahane       431
8   KD Karthik      426
9   AB de Villiers  414
10  CH Gayle        408
11  SR Watson       377
12  PA Patel        365
13  AT Rayudu       349
14  MS Dhoni        346

In [74]:
o4 = o.merge(o1,on='striker',how='right').merge(o2,on='striker',how='right').merge(o3,on='striker',how='right')

In [75]:
o4.head()

     striker  Runs_Scored    ball  Sixes  Fours
0  S Dhawan   6244.0       5083.0  137.0  701
1  V Kohli    6634.0       5266.0  219.0  581
2  DA Warner  5883.0       4313.0  216.0  577
3  RG Sharma  5881.0       4632.0  241.0  519
4  SK Raina   5536.0       4177.0  204.0  506

In [76]:
o4.dtypes

striker        object
Runs_Scored    float64
ball           float64
Sixes          float64
Fours          int64
dtype: object

In [77]:
o4['Sixes'].unique()

array([137., 219., 216., 241., 204.,  59., 182.,  80., 134., 253., 359.,
       190.,  49., 164., 229., 106., 109.,  29., 130.,  84., 158., 135.,
        78.,  28., 161., 129.,  44.,  91., 117.,  92.,  99.,  76.,  60.,
       224., 149.,  40., 127.,  52.,  27.,  55., 111.,  47.,  64.,  90.,
        68.,  37., 113.,  85.,  39.,  24., 175.,  42.,  36.,  66.,  79.,
        43.,  50.,  63.,   9.,  23.,  38.,  31.,  48.,  32.,  56.,  53.,
        41.,  21.,  19.,  54.,  46.,  35.,  25.,  22.,  20.,  13.,  10.,
        26.,  11.,  18.,  65.,   4.,   6.,  16.,   5.,   3.,   2.,   7.,
         8.,  15.,  12.,   1.,  17.,  14.,  nan])

In [78]:
o4.dropna()

               striker  Runs_Scored    ball  Sixes  Fours
0    S Dhawan           6244.0       5083.0  137.0  701
1    V Kohli            6634.0       5266.0  219.0  581
2    DA Warner          5883.0       4313.0  216.0  577
3    RG Sharma          5881.0       4632.0  241.0  519
4    SK Raina           5536.0       4177.0  204.0  506
5    G Gambhir          4217.0       3524.0  59.0   492
6    RV Uthappa         4954.0       3927.0  182.0  481
7    AM Rahane          4074.0       3465.0  80.0   431
8    KD Karthik         4377.0       3386.0  134.0  426
9    AB de Villiers     5181.0       3487.0  253.0  414
10   CH Gayle           4997.0       3516.0  359.0  408
11   SR Watson          3880.0       2892.0  190.0  377
12   PA Patel           2848.0       2442.0  49.0   365
13   AT Rayudu          4190.0       3375.0  164.0  349
14   MS Dhoni           4978.0       3802.0  229.0  346
15   V Sehwag           2728.0       1833.0  106.0  334
16   KL Rahul           3895.0       2933.0  164.0  327
17   MK Pandey          3657.0       3106.0  106.0  318
18   F du Plessis       3403.0       2676.0  109.0  315
19   SR Tendulkar       2334.0       2044.0  29.0   296
20   BB McCullum        2882.0       2272.0  130.0  293
21   SA Yadav           2644.0       1973.0  84.0   284
22   SV Samson          3526.0       2663.0  158.0  279
23   JC Buttler         2832.0       1955.0  135.0  278
24   Q de Kock          2767.0       2113.0  106.0  277
25   SE Marsh           2489.0       1913.0  78.0   269
26   R Dravid           2174.0       1918.0  28.0   269
27   YK Pathan          3222.0       2334.0  161.0  263
28   RR Pant            2851.0       2000.0  129.0  262
29   JH Kallis          2427.0       2291.0  44.0   255
30   M Vijay            2619.0       2208.0  91.0   247
31   DR Smith           2385.0       1803.0  117.0  245
32   AC Gilchrist       2069.0       1555.0  92.0   239
33   SS Iyer            2780.0       2295.0  99.0   238
34   WP Saha            2427.0       1951.0  76.0   231
35   MA Agarwal         2335.0       1803.0  91.0   228
36   SPD Smith          2495.0       1999.0  60.0   226
37   KA Pollard         3437.0       2447.0  224.0  221
38   Yuvraj Singh       2754.0       2207.0  149.0  218
39   AJ Finch           2092.0       1696.0  78.0   214
40   DPMD Jayawardene   1808.0       1522.0  40.0   200
41   GJ Maxwell         2320.0       1571.0  127.0  198
42   MEK Hussey         1977.0       1648.0  52.0   198
43   KC Sangakkara      1687.0       1424.0  27.0   195
44   PP Shaw            1588.0       1106.0  55.0   192
45   N Rana             2181.0       1677.0  111.0  190
46   Shubman Gill       1900.0       1555.0  47.0   188
47   KS Williamson      2105.0       1707.0  64.0   183
48   RA Jadeja          2502.0       2049.0  90.0   182
49   RA Tripathi        1798.0       1312.0  68.0   176
50   Mandeep Singh      1692.0       1402.0  37.0   176
51   DA Miller          2455.0       1838.0  113.0  169
52   Ishan Kishan       1870.0       1444.0  85.0   166
53   KK Nair            1496.0       1192.0  39.0   161
54   MK Tiwary          1695.0       1489.0  40.0   156
55   S Badrinath        1441.0       1245.0  28.0   154
56   HH Pandya          1972.0       1406.0  111.0  146
57   TM Dilshan         1153.0       1047.0  24.0   140
58   AD Russell         2039.0       1212.0  175.0  138
59   SC Ganguly         1349.0       1326.0  42.0   137
60   D Padikkal         1260.0       1057.0  36.0   136
61   JM Bairstow        1291.0       935.0   55.0   133
62   CA Lynn            1329.0       974.0   66.0   132
63   JP Duminy          2029.0       1680.0  79.0   126
64   BJ Hodge           1400.0       1153.0  43.0   122
65   KH Pandya          1326.0       1003.0  50.0   121
66   NV Ojha            1554.0       1360.0  79.0   121
67   ML Hayden          1107.0       839.0   44.0   121
68   DJ Bravo           1560.0       1247.0  66.0   120
69   RD Gaikwad         1207.0       945.0   43.0   113
70   SP Narine          1025.0       664.0   63.0   112
71   EJG Morgan         1406.0       1181.0  64.0   112
72   SS Tiwary          1494.0       1291.0  50.0   111
73   LMP Simmons        1079.0       878.0   44.0   109
74   M Vohra            1073.0       852.0   43.0   103
75   KM Jadhav          1196.0       1002.0  40.0   101
76   GC Smith           739.0        691.0   9.0    94
77   MS Bisla           798.0        737.0   23.0   93
78   KP Pietersen       1001.0       758.0   40.0   91
79   DJ Hussey          1322.0       1101.0  60.0   90
80   IK Pathan          1150.0       985.0   38.0   88
81   MC Henriques       1000.0       801.0   28.0   87
82   ST Jayasuriya      768.0        573.0   39.0   84
83   HH Gibbs           886.0        837.0   31.0   83
84   MP Stoinis         1070.0       813.0   48.0   83
85   Harbhajan Singh    833.0        636.0   42.0   79
86   BA Stokes          920.0        703.0   32.0   79
87   Y Venugopal Rao    985.0        865.0   37.0   77
88   DJ Hooda           1237.0       970.0   56.0   77
89   MM Ali             910.0        652.0   53.0   76
90   CL White           971.0        774.0   38.0   76
91   A Symonds          974.0        781.0   41.0   74
92   Shakib Al Hasan    795.0        665.0   21.0   73
93   JD Ryder           604.0        466.0   19.0   69
94   AR Patel           1135.0       919.0   54.0   67
95   LRPL Taylor        1017.0       847.0   46.0   66
96   STR Binny          880.0        700.0   35.0   66
97   Abhishek Sharma    667.0        511.0   25.0   64
98   YBK Jaiswal        547.0        410.0   22.0   62
99   E Lewis            654.0        499.0   36.0   62
100  PC Valthaty        505.0        432.0   20.0   61
101  JA Morkel          975.0        712.0   55.0   61
102  HM Amla            577.0        418.0   21.0   60
103  SN Khan            532.0        394.0   13.0   59
104  GJ Bailey          663.0        552.0   19.0   59
105  R Tewatia          738.0        588.0   35.0   57
106  SA Asnodkar        423.0        352.0   10.0   56
107  TL Suman           676.0        587.0   26.0   55
108  SO Hetmyer         831.0        577.0   52.0   55
109  Gurkeerat Singh    511.0        436.0   11.0   55
110  AM Nayar           672.0        588.0   20.0   55
111  VR Iyer            552.0        474.0   21.0   54
112  PP Chawla          584.0        543.0   18.0   54
113  N Pooran           912.0        630.0   65.0   52
114  R Ashwin           647.0        567.0   21.0   51
115  CA Pujara          390.0        403.0   4.0    50
116  JR Hopes           417.0        314.0   11.0   49
117  V Shankar          731.0        616.0   28.0   46
118  S Dube             688.0        541.0   38.0   46
119  MJ Lumb            278.0        198.0   6.0    45
120  AD Mathews         724.0        599.0   29.0   44
121  M Manhas           514.0        486.0   10.0   43
122  CH Morris          618.0        413.0   35.0   41
123  SW Billings        503.0        399.0   20.0   40
124  R Parag            522.0        434.0   22.0   40
125  CJ Anderson        538.0        436.0   31.0   40
126  AP Tare            339.0        285.0   11.0   40
127  RS Bopara          531.0        468.0   16.0   39
128  Azhar Mahmood      388.0        311.0   13.0   39
129  J Botha            409.0        364.0   5.0    39
130  JJ Roy             329.0        264.0   9.0    39
131  LS Livingstone     549.0        352.0   40.0   38
132  AK Markram         527.0        400.0   23.0   37
133  JP Faulkner        527.0        406.0   23.0   36
134  DB Ravi Teja       375.0        325.0   9.0    35
135  S Sohal            368.0        311.0   18.0   34
136  OA Shah            506.0        405.0   23.0   34
137  VVS Laxman         282.0        271.0   5.0    33
138  LR Shukla          405.0        358.0   16.0   33
139  SP Goswami         293.0        307.0   3.0    32
140  UBT Chand          300.0        314.0   9.0    32
141  MV Boucher         394.0        318.0   13.0   32
142  Salman Butt        193.0        172.0   2.0    30
143  SM Curran          337.0        230.0   18.0   30
144  RM Patidar         404.0        297.0   21.0   30
145  A Mishra           362.0        410.0   5.0    29
146  Tilak Varma        397.0        313.0   16.0   29
147  MR Marsh           476.0        394.0   28.0   28
148  B Chipli           280.0        256.0   7.0    28
149  SP Fleming         196.0        171.0   3.0    27
150  P Negi             365.0        301.0   16.0   27
151  SM Katich          241.0        191.0   8.0    26
152  Washington Sundar  318.0        278.0   9.0    26
153  RN ten Doeschate   326.0        238.0   15.0   26
154  YV Takawale        192.0        183.0   3.0    26
155  LA Pomersbach      302.0        251.0   13.0   25
156  JEC Franklin       327.0        309.0   9.0    25
157  PJ Cummins         379.0        260.0   26.0   24
158  MD Mishra          237.0        213.0   8.0    24
159  R Bhatia           342.0        290.0   13.0   24
160  MJ Guptill         271.0        197.0   15.0   24
161  AL Menaria         401.0        367.0   18.0   24
162  DP Conway          252.0        176.0   12.0   23
163  NLTC Perera        424.0        326.0   26.0   23
164  GH Vihari          284.0        331.0   1.0    23
165  B Kumar            241.0        259.0   3.0    23
166  DB Das             304.0        267.0   16.0   23
167  MS Wade            179.0        178.0   2.0    23
168  DH Yagnik          170.0        142.0   2.0    23
169  RK Singh           251.0        204.0   9.0    23
170  DT Christian       460.0        408.0   19.0   23
171  CA Ingram          205.0        183.0   5.0    22
172  M Kaif             259.0        258.0   6.0    22
173  JM Sharma          234.0        149.0   12.0   22
174  P Kumar            340.0        323.0   17.0   22
175  FY Fazal           183.0        179.0   1.0    22
176  R Sathish          270.0        236.0   6.0    22
177  S Vidyut           145.0        115.0   3.0    21
178  BJ Rohrer          193.0        146.0   5.0    21
179  AC Blizzard        120.0        91.0    2.0    21
180  R Vinay Kumar      310.0        289.0   9.0    21
181  Rashid Khan        313.0        214.0   22.0   20
182  Y Nagar            285.0        271.0   9.0    20
183  C Munro            177.0        144.0   8.0    19
184  S Gopal            180.0        173.0   2.0    19
185  AA Jhunjhunwala    217.0        218.0   5.0    19
186  MN van Wyk         167.0        135.0   1.0    19
187  KV Sharma          317.0        285.0   14.0   18
188  Shahbaz Ahmed      279.0        253.0   11.0   18
189  Lalit Yadav        229.0        227.0   7.0    18
190  C de Grandhomme    303.0        229.0   18.0   18
191  R Dhawan           190.0        176.0   6.0    17
192  K Goel             218.0        239.0   9.0    17
193  CM Gautam          169.0        158.0   6.0    17
194  A Ashish Reddy     280.0        196.0   15.0   16
195  K Rabada           186.0        188.0   6.0    16
196  Mohammad Nabi      186.0        126.0   10.0   16
198  LJ Wright          106.0        63.0    3.0    16
199  PBB Rajapaksa      206.0        137.0   13.0   16
200  MK Lomror          267.0        214.0   13.0   15
201  DJG Sammy          295.0        251.0   18.0   15
202  AC Voges           181.0        143.0   3.0    15
203  BCJ Cutting        238.0        146.0   19.0   15
204  PA Reddy           164.0        167.0   2.0    15
205  HV Patel           230.0        189.0   13.0   15
206  PK Garg            251.0        224.0   9.0    15
207  UT Yadav           177.0        176.0   8.0    15
208  SK Warne           198.0        219.0   6.0    14
209  W Jaffer           130.0        129.0   3.0    14
210  UT Khawaja         127.0        105.0   3.0    14
211  D Brevis           161.0        116.0   11.0   14
212  A Manohar          108.0        79.0    3.0    14
213  DW Steyn           167.0        163.0   3.0    14
214  R McLaren          159.0        178.0   1.0    14
215  Niraj Patel        121.0        124.0   1.0    14
216  B Sai Sudharsan    145.0        118.0   3.0    14
217  Kamran Akmal       128.0        78.0    8.0    13
218  JO Holder          247.0        205.0   17.0   13
219  AD Hales           148.0        119.0   6.0    13
220  M Shahrukh Khan    270.0        236.0   19.0   13
221  K Gowtham          186.0        115.0   12.0   13
222  BB Samantray       125.0        116.0   2.0    13
223  AB Agarkar         179.0        160.0   5.0    13
224  JD Unadkat         164.0        136.0   6.0    13
225  AS Raut            194.0        172.0   7.0    13
226  TH David           187.0        94.0    16.0   12
227  TM Head            205.0        151.0   8.0    12
228  SM Pollock         147.0        116.0   8.0    12
229  Abdul Samad        228.0        164.0   14.0   12
230  SN Thakur          173.0        138.0   8.0    12
231  KS Bharat          199.0        168.0   8.0    12
232  MF Maharoof        177.0        124.0   9.0    12
234  D Wiese            127.0        94.0    4.0    12
235  RJ Quiney          103.0        105.0   3.0    12
236  Sachin Baby        144.0        123.0   5.0    11
237  MC Juneja          125.0        134.0   1.0    11
238  M Morkel           126.0        93.0    5.0    11
239  RE van der Merwe   159.0        144.0   8.0    11
240  A Badoni           161.0        139.0   7.0    11
241  Z Khan             117.0        141.0   2.0    11
242  JC Archer          195.0        128.0   14.0   11
243  DJ Harris          111.0        103.0   5.0    11
244  Bipul Sharma       187.0        124.0   9.0    11
245  DJM Short          115.0        102.0   5.0    11
247  DL Vettori         121.0        118.0   2.0    11
249  SD Chitnis         99.0         92.0    2.0    10
250  MG Johnson         167.0        168.0   7.0    10
251  SB Styris          131.0        134.0   3.0    10
252  TK Curran          127.0        108.0   3.0    10
253  Anuj Rawat         129.0        124.0   7.0    10
254  RD Chahar          108.0        102.0   4.0    10
255  CR Brathwaite      181.0        120.0   16.0   10
256  Mohammed Siraj     96.0         111.0   2.0    10
257  RE Levi            83.0         74.0    4.0    10
258  Misbah-ul-Haq      117.0        82.0    6.0    10
259  DJ Jacobs          92.0         101.0   4.0    10
260  R Powell           250.0        174.0   22.0   10
262  TR Birt            75.0         59.0    2.0    9
263  JR Philippe        78.0         80.0    1.0    9
264  PR Shah            92.0         97.0    2.0    9
265  KK Cooper          116.0        70.0    8.0    9
266  AB McDonald        123.0        103.0   4.0    9
268  PD Collingwood     203.0        159.0   13.0   9
269  MN Samuels         161.0        174.0   7.0    9
270  Iqbal Abdulla      88.0         86.0    1.0    9
271  S Rana             91.0         82.0    1.0    9
272  S Anirudha         136.0        121.0   7.0    9
274  MM Sharma          122.0        120.0   4.0    9
275  TG Southee         120.0        108.0   4.0    8
276  B Lee              124.0        102.0   8.0    8
277  Kuldeep Yadav      105.0        130.0   2.0    8
278  Ankit Sharma       87.0         69.0    4.0    7
280  DS Kulkarni        104.0        113.0   2.0    7
281  SS Prabhudessai    67.0         62.0    2.0    7
282  AP Majumdar        87.0         77.0    2.0    7
283  CR Woakes          78.0         77.0    2.0    7
284  NM Coulter-Nile    82.0         75.0    4.0    7
286  N Jagadeesan       73.0         71.0    1.0    7
287  M Kartik           113.0        109.0   1.0    7
288  Shahid Afridi      81.0         46.0    6.0    7
289  Mohammad Hafeez    64.0         84.0    2.0    7
291  AD Nath            90.0         99.0    2.0    7
292  MS Gony            99.0         76.0    8.0    6
293  Anirudh Singh      63.0         69.0    1.0    6
294  Harpreet Brar      106.0        100.0   5.0    6
297  L Ronchi           34.0         37.0    1.0    6
299  RJ Harris          117.0        112.0   3.0    6
300  JDS Neesham        92.0         93.0    2.0    6
301  SL Malinga         88.0         103.0   5.0    6
302  JDP Oram           106.0        110.0   5.0    6
303  J Suchith          70.0         62.0    3.0    6
304  RR Powar           67.0         64.0    1.0    6
305  LH Ferguson        67.0         47.0    2.0    6
306  RR Sarwan          73.0         78.0    1.0    6
307  AJ Tye             91.0         79.0    5.0    6
308  Sunny Singh        43.0         31.0    1.0    6
309  P Simran Singh     64.0         67.0    2.0    6
310  B Akhil            76.0         57.0    5.0    5
311  MJ McClenaghan     85.0         73.0    7.0    5
312  AD Mascarenhas     79.0         79.0    1.0    5
313  Mohammed Shami     69.0         74.0    2.0    5
314  AB Barath          42.0         43.0    1.0    5
315  R Sharma           66.0         77.0    3.0    5
319  A Flintoff         62.0         57.0    2.0    5
321  LPC Silva          40.0         27.0    1.0    5
322  SP Jackson         61.0         57.0    1.0    5
323  KA Jamieson        65.0         55.0    3.0    5
324  RT Ponting         91.0         129.0   2.0    5
326  AUK Pathan         39.0         26.0    2.0    5
327  H Klaasen          66.0         58.0    1.0    5
328  RV Gomez           50.0         53.0    1.0    5
330  AS Yadav           49.0         40.0    2.0    5
332  Shashank Singh     69.0         47.0    4.0    5
336  M Rawat            55.0         70.0    1.0    4
338  P Dogra            127.0        141.0   5.0    4
339  A Mithun           34.0         26.0    1.0    4
340  Shivam Mavi        51.0         58.0    2.0    4
341  WD Parnell         63.0         80.0    1.0    4
344  PWH de Silva       39.0         50.0    1.0    4
345  I Sharma           55.0         62.0    2.0    4
346  JJ Bumrah          56.0         68.0    1.0    4
347  AN Ahmed           36.0         27.0    1.0    4
348  KB Arun Karthik    51.0         53.0    1.0    4
349  CJ Jordan          75.0         68.0    3.0    3
350  RV Patel           31.0         32.0    1.0    3
351  Sohail Tanvir      36.0         31.0    1.0    3
352  Anmolpreet Singh   29.0         27.0    1.0    3
355  Ramandeep Singh    45.0         42.0    1.0    3
356  AP Dole            34.0         23.0    1.0    3
357  SE Rutherford      106.0        107.0   8.0    3
358  SK Trivedi         42.0         61.0    1.0    3
359  VH Zol             29.0         26.0    1.0    3
360  D Pretorius        44.0         28.0    3.0    3
364  A Nehra            41.0         63.0    1.0    3
368  RR Rossouw         53.0         51.0    3.0    3
371  MJ Santner         54.0         55.0    3.0    3
372  PVD Chameera       43.0         32.0    3.0    3
373  RJ Peterson        32.0         32.0    1.0    3
377  R Rampaul          51.0         52.0    2.0    3
379  BJ Haddin          18.0         11.0    1.0    2
381  Mohsin Khan (2)    23.0         19.0    1.0    2
383  Avesh Khan         31.0         19.0    3.0    2
385  Anureet Singh      36.0         47.0    1.0    2
387  M Ashwin           35.0         50.0    1.0    2
390  AS Rajpoot         26.0         41.0    1.0    2
395  J Yadav            40.0         38.0    1.0    2
398  TU Deshpande       21.0         12.0    1.0    2
399  VR Aaron           50.0         73.0    2.0    2
400  ER Dwivedi         24.0         15.0    2.0    2
403  RP Singh           52.0         78.0    1.0    2
404  L Balaji           36.0         50.0    1.0    2
405  MA Khote           24.0         22.0    1.0    2
406  DJ Thornely        39.0         54.0    2.0    2
409  DL Chahar          79.0         59.0    6.0    2
410  WPUJC Vaas         81.0         73.0    3.0    2
411  KW Richardson      36.0         39.0    1.0    2
412  TA Boult           53.0         49.0    2.0    2
414  R Shepherd         58.0         43.0    5.0    2
418  A Choudhary        25.0         20.0    1.0    1
419  JJ van der Wath    18.0         17.0    1.0    1
422  JM Kemp            26.0         25.0    1.0    1
423  Vishnu Vinod       19.0         26.0    1.0    1
426  Joginder Sharma    36.0         30.0    2.0    1

In [79]:
o4['Sixes'].unique()

array([137., 219., 216., 241., 204.,  59., 182.,  80., 134., 253., 359.,
       190.,  49., 164., 229., 106., 109.,  29., 130.,  84., 158., 135.,
        78.,  28., 161., 129.,  44.,  91., 117.,  92.,  99.,  76.,  60.,
       224., 149.,  40., 127.,  52.,  27.,  55., 111.,  47.,  64.,  90.,
        68.,  37., 113.,  85.,  39.,  24., 175.,  42.,  36.,  66.,  79.,
        43.,  50.,  63.,   9.,  23.,  38.,  31.,  48.,  32.,  56.,  53.,
        41.,  21.,  19.,  54.,  46.,  35.,  25.,  22.,  20.,  13.,  10.,
        26.,  11.,  18.,  65.,   4.,   6.,  16.,   5.,   3.,   2.,   7.,
         8.,  15.,  12.,   1.,  17.,  14.,  nan])

In [80]:
o4.head()

     striker  Runs_Scored    ball  Sixes  Fours
0  S Dhawan   6244.0       5083.0  137.0  701
1  V Kohli    6634.0       5266.0  219.0  581
2  DA Warner  5883.0       4313.0  216.0  577
3  RG Sharma  5881.0       4632.0  241.0  519
4  SK Raina   5536.0       4177.0  204.0  506

In [81]:
o4.head(10)

          striker  Runs_Scored    ball  Sixes  Fours
0  S Dhawan        6244.0       5083.0  137.0  701
1  V Kohli         6634.0       5266.0  219.0  581
2  DA Warner       5883.0       4313.0  216.0  577
3  RG Sharma       5881.0       4632.0  241.0  519
4  SK Raina        5536.0       4177.0  204.0  506
5  G Gambhir       4217.0       3524.0  59.0   492
6  RV Uthappa      4954.0       3927.0  182.0  481
7  AM Rahane       4074.0       3465.0  80.0   431
8  KD Karthik      4377.0       3386.0  134.0  426
9  AB de Villiers  5181.0       3487.0  253.0  414

In [90]:
o4 = o4.dropna(subset=['Sixes'])

In [91]:
o4['Sixes'].unique()

array([137., 219., 216., 241., 204.,  59., 182.,  80., 134., 253., 359.,
       190.,  49., 164., 229., 106., 109.,  29., 130.,  84., 158., 135.,
        78.,  28., 161., 129.,  44.,  91., 117.,  92.,  99.,  76.,  60.,
       224., 149.,  40., 127.,  52.,  27.,  55., 111.,  47.,  64.,  90.,
        68.,  37., 113.,  85.,  39.,  24., 175.,  42.,  36.,  66.,  79.,
        43.,  50.,  63.,   9.,  23.,  38.,  31.,  48.,  32.,  56.,  53.,
        41.,  21.,  19.,  54.,  46.,  35.,  25.,  22.,  20.,  13.,  10.,
        26.,  11.,  18.,  65.,   4.,   6.,  16.,   5.,   3.,   2.,   7.,
         8.,  15.,  12.,   1.,  17.,  14.])

In [92]:
o4['Sixes'] = o4['Sixes'].astype('int')

In [95]:
o4['Runs_Scored'] = o4['Runs_Scored'].astype('int')
o4['ball'] = o4['ball'].astype('int')

In [96]:
o4.head()

     striker  Runs_Scored  ball  Sixes  Fours
0  S Dhawan   6244         5083  137    701
1  V Kohli    6634         5266  219    581
2  DA Warner  5883         4313  216    577
3  RG Sharma  5881         4632  241    519
4  SK Raina   5536         4177  204    506

In [97]:
o4['Strike_rate'] = o4['Runs_Scored'] / o4['ball'] * 100

In [98]:
o4.head()

     striker  Runs_Scored  ball  Sixes  Fours  Strike_rate
0  S Dhawan   6244         5083  137    701    122.840842
1  V Kohli    6634         5266  219    581    125.977972
2  DA Warner  5883         4313  216    577    136.401577
3  RG Sharma  5881         4632  241    519    126.964594
4  SK Raina   5536         4177  204    506    132.535312

In [101]:
o4['Strike_rate'] = np.round(o4['Strike_rate'],decimals=2)

           striker  Runs_Scored  ball  Sixes  Fours  Strike_rate
0   S Dhawan        6244         5083  137    701    122.84
1   V Kohli         6634         5266  219    581    125.98
2   DA Warner       5883         4313  216    577    136.40
3   RG Sharma       5881         4632  241    519    126.96
4   SK Raina        5536         4177  204    506    132.54
5   G Gambhir       4217         3524  59     492    119.67
6   RV Uthappa      4954         3927  182    481    126.15
7   AM Rahane       4074         3465  80     431    117.58
8   KD Karthik      4377         3386  134    426    129.27
9   AB de Villiers  5181         3487  253    414    148.58
10  CH Gayle        4997         3516  359    408    142.12
11  SR Watson       3880         2892  190    377    134.16
12  PA Patel        2848         2442  49     365    116.63
13  AT Rayudu       4190         3375  164    349    124.15
14  MS Dhoni        4978         3802  229    346    130.93

In [104]:
o4.to_csv('All_time_Ipl.csv')

In [105]:
d6.to_csv('Dhoni_stats_byYear.csv')